# Schlüssel nur lokal hier eintragen oder über http://127.0.0.1:8765 einrichten.
ELEVENLABS_API_KEY=""
ELEVENLABS_AGENT_ID=""
ELEVENLABS_GAME_TOOL_ID=""
ELEVENLABS_VOICE_ID=""
ELEVENLABS_LANGUAGE="de"
ELEVENLABS_LANGUAGE_MODE="character"
ELEVENLABS_CALLER_FALLBACK_LANGUAGE="en"
ELEVENLABS_TTS_MODEL="eleven_v4_turbo"
REQUEST_TIMEOUT_SECONDS=45
PORT=8765
